.body-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 1.125em;
    color: #333;
    line-height: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 2.5em
}

h1 a {
    color: #000;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em
}

a {
    text-decoration: none;
    color: #09f;
}

a:hover {
    text-decoration: underline;
}

div.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.top-menu h1 {
    order: 1;
    width: 55%;
}

div.top-menu div.menu-links {
    order: 2;
    width: 45%;
    padding-top: 20px;
    text-align: right;
}

div.top-menu small {
    padding-top: 40px;
    font-size: 15px;
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

div.text {
    order: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
}

div.controls-container {
    display: flex;
    flex-direction: column;
    min-height: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

div.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.controls label {
    cursor: pointer;
}

div.controls input {
    cursor: pointer;
}

div.text textarea {
    outline: none;
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    line-height: 1.3125;
    font-weight:normal;
    font-size:15px;
    border:1px solid #FFF;
    padding: 10px;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    margin-right: 20px;
    margin-left: 20px;
}

div.tweets {
    order: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #15202b;
    color: #fff;
}

div.thread:first-child {
    padding-top: 10px;
}

div.thread:last-child {
    padding-bottom: 10px
}

div.separator {
    height: 10px;
    background-color: rgb(37, 51, 65);
}

div.tweet {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1rem;
    overflow-wrap: break-word;
    line-height: 1.3125;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 0;
}

div.left-column {
    margin-right: 5px;
    margin-left: 5px;
    max-width: 49px;
    flex-basis: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.avatar img {
    height: 49px;
    width: 49px;
    border-radius: 50%;
}

div.bottom-bar {
    width: 3px;
    margin-top: 5px;
    background-color: rgb(61, 84, 102);
    margin-left: 0px;
    margin-right: 0px;
    flex-grow: 1;
}

div.main {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 1rem;
}

div.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

div.author-name {
    overflow-wrap: break-word;
    line-height: 1.3125;
    font-weight: 700;    
}

div.author-handle {
    color: rgb(136, 153, 166);
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
}

div.date-separator {
    padding-left: 5px;
    padding-right: 5px;
}

div.date {
    color: rgb(136, 153, 166);
    font-weight: 400;
    font-size: 15px;
}

div.body {
    font-weight: 400;
}

div.tweets button {
    float: right;
    background-color: rgb(29, 161, 242);
    color: #fff;
    padding: 0.7em 1em;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #000;
    margin-right: 10px;
    margin-bottom: 10px;
}

div.authorization-button button {
    background-color: rgb(29, 161, 242);
    color: #fff;
    padding: 0.7em 1em;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border: 0px solid #000;
    margin-right: 10px;
    margin-bottom: 10px;
}

div.authorization-button button:disabled {
    background-color: #19618f;
    cursor: not-allowed;
    color: #8a9095;
}

div.authorization label {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

h2 small {
    font-size: 10px;
}

div.authorization-main {
    padding: 10px;
    margin-bottom: 10px;
    background: #ccc;
}

div.authorization-main small {
    float: right;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    div.top-menu h1 {
        width: 100%;
        margin-bottom: 0px;
    }

    div.top-menu div.menu-links {
        width: 100%;
        margin-top: 0px;
        padding-top: 0px;
        text-align: left;
    }
    
    div.tweets, div.text {
        width: 100%;
    }
}
